package components

templ CodePen(display []string) {
<div id="codepen" class="flex items-center justify-center">
  <div class="mockup-code mt-8 w-4/5">
    <div class="flex items-center justify-center overflow-y-auto max-h-1/2">
      <div id="appendhere">
        @CodePenInner(display)
      </div>
    </div>
  </div>
</div>
}

templ CodePenInner(display []string) {
for _, line := range display {
<pre><code>{ line }</code></pre>
}
}
