// components/greet.templ
package components

import "fmt"

templ Greet(name string, age int) {
	<div class="card card-title">
		<p>Hi I'm { name }, and I'm { fmt.Sprint(age) } years old!</p>
	</div>
}
