// components/index.templ
package components

// also added this freakish not JavaScript JavaScript function as a demonstration to functions and events
templ Index() {
	@Layout(pairForm(), carouselComponent())
}
