package components

templ Navbar() {
	<div class="navbar bg-base-100 shadow-sm">
		<div class="navbar-center">
			<div>
				<ul class="menu menu-horizontal px-1">
					<li><a href="/pair">Pair</a></li>
					<li><a href="/connect">Connect</a></li>
					<li><a href="/setupcamera">Monitor</a></li>
				</ul>
			</div>
		</div>
	</div>
}
